<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Send Email</title>
</head>
<body>
<h1>Send an Email</h1>
<form th:action="@{/sendEmail}" method="post">
    <label for="toAddress">To:</label>
    <input type="email" id="toAddress" name="toAddress" required>
    <br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required>
    <br>
    <label for="body">Message:</label>
    <textarea id="body" name="body" required></textarea>
    <br>
    <button type="submit">Send</button>
</form>
</body>
</html>
